.file-input-wrapper {
    /* display: inline-block; */
    /* overflow: hidden; */
    position: absolute;

    cursor: pointer;
    background-color: white;
    border-radius: 50%;
}
.file-input-wrapper button {
    padding: 5px 10px;
    /* margin-right: -5%; */
    font-size: 20px;
    cursor: pointer;
}
.file-input-wrapper input[type="file"] {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}


.skillinROW{
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}
.skillinROW .skillinput{
    padding-right: 5px !important;
}
.skillinROW .skillbutton{
    padding-left: 5px !important;
}